.header {
    margin: auto;
    background-color: #ffffff;
    width: 926px;
    padding: 1rem 0;
}

.card {
    margin: auto;
    background-color: #ffffff;
    width: 894px;
    padding: 2rem;
    border: 1px solid #dddddd;
    /* height: 600px; */
}

nav {
    float: right;
    margin-right: -2rem;
    margin-top: .3rem;
}

.heading-link {
    color: gray;
    padding: 0 1rem;
    text-decoration: none;
}

.folio {
    height: 175px;
    width: 275px;
    /* margin: 1rem; */
    transition: all 1s;
}

.folio:hover {
    opacity: .1;
}

.image-container {
    margin-bottom: 1rem;
}

.image-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#portfolio {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.header-name {
    background: #4aaaa5;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 1.1rem;
    margin-left: -1rem;
}

.content-heading {
    color: #4aaaa5;
    margin-bottom: 2rem;
}

.me {
    float: left;
    width: 33%;
    margin: 1.66%;
}

h1 {
    display: inline;
}

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 2rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

form label{
    display: block;
    margin-bottom: 1rem;
}

input[type=text], textarea {
    margin-bottom: 1rem;
    width: 874px;    
    padding: .5rem; 
}

input[type=submit] {
    background: #4aaaa5;
    border: none;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.2rem;
}

body {
    background-image: url("https://images.unsplash.com/photo-1548685913-fe6678babe8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1923&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
    margin-top: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    line-height: 2;
}

hr {
    margin-bottom: 1rem;
}